.head > * {
  margin: 4px 0px;
} 

.head:hover h4{
    color: rgb(5, 33, 146);
}

.head > h4 {
  font-weight: 400;
  margin-left: 1px;
}

.head>p:nth-child(1){
  font-weight: 100;
  margin-left: 1px;
  /* border: 1px solid black; */
}

.striked{
  text-decoration:line-through;  
  text-decoration-thickness: 2px;
}

.img{
    width: 100%;  
}

/* ======================= */

